/* body{
  background-color: #ddd;
} */
.main a{
  font-size: 18px;
  background: blue;
  color:#fff;
  display:block;
  box-shadow:3px 3px 3px 3px #ddd;
  text-decoration: none;
  padding:1%;
}
header{
  width: 95%;
  color: white;
  text-align:center;
  background-color: #00f;
  font-weight: bold;
  font-size: 26px;
  margin: 1%;
  padding: 1%;
}
footer {
  text-align:center;
  background-color: #000;
  display: block;
  max-width: 100%;
  padding: 1%;
  color: #fff;
  margin-top:2%;
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-shadow:10px 10px 10px 10px #ddd;
  margin: 0 auto 0 auto;
  width: 83%;
}
.subdiv{
  width: 23%;
  box-shadow:10px 10px 10px 10px #ddd;
  border: 3px solid #f0ffff;
  border-radius: 1%;
  margin: 2%;
  padding: 2%;
  text-align: center;
}
header a img {
  width: 3%;
}
header a img:hover{
box-shadow: 3px 3px 8px 3px #2df;
border: 3px solid #ffdead;
}
.main img{
  width: 90%;
  height: 333px;
}
@media only screen and (min-width:320px) and (max-width:480px) {
  .subdiv{
    width: 90%;
  }
  header a img {
  width: 9%;
}
}
@media only screen and (min-width:481px) and (max-width:780px) {
  .subdiv{
    width: 40%;
  }
  header a img {
  width: 5%;
}
}
